@font-face {
	font-family: "Brushot-Bold";
	src: url('Brushot-Bold.ttf');
}

/* CSS pour fenetre modale de connexion */

.modal-header, h4, .close {
    background-color: #162d50ff;
    color:white !important;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
  }

#inscript{
    margin-top: 24px;   
}

#login{
    margin-top: 24px;     
}

.modal-footer {
    background-color: #f9f9f9;
}

.navbar-header {
    background-color: #162d50ff;
    height: 80px;
}

.navbar{
    background-color: #162d50ff;   
}

.navbar-brand {
    padding-top: 30px;
    font-family: Brushot-Bold;
    font-size: 2.5em;

}

.navbar-toggle{
    margin-top: 24px; 
}

.glyphicon{
    color: #9d9d9d;
    /* background-color: #162d50ff;  */
    margin : 4px; 
    line-height: 2;   
}

.btn-success{
    background-color :#162d50ff;
    border-color : #162d50ff;
}

.dropdown-menu{
    text-align : center;
    font-size : 1.2em;
    padding-top : 15px;
    padding-bottom: 15px;
    color: green;
}

.logout{
    display: none;
}

.logo{
    display: flex;
    justify-content : center;
    font-family: Brushot-Bold;
    font-size : 6em;
}

#q{
    color: orangered;
}
#c{
    color:yellow;
}
#m{
    color: brown;
}

h1{
    font-family: Brushot-Bold;
    font-size : 2em; 
    color :#162d50ff; 
}
